In [1]:
import pandas as pd

# Replace 'filename.csv' with your csv file path
df = pd.read_csv('Data\A0-A.csv')

# Print the DataFrame to verify it's loaded correctly
print(df)

   first_name  last_name  company_name  address  city  county  state  phone1  \
0         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN
1         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN
2         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN
3         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN
4         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN

   phone2  email                                        Description
0     NaN    NaN  James Butt: An avid historian, James Butt from...
1     NaN    NaN  Josephine Darakjy: Amidst the jazz-filled stre...
2     NaN    NaN  Art Venere: Art Venere, a nature enthusiast at...
3     NaN    NaN  Lenna Paprocki: While renovating their office ...
4     NaN    NaN  Donette Foller: In the tech hub of Hamilton, D...

In [2]:
import re

## Extracting names

Let us first check for names. After sampling the data, we can see that the names follow a common trend : they occur before the colon. We simply write the regex for querying this in the text as '^(.*?):', and then split the text using `.split()` to get the first and last names.

In [3]:
for x in range(len(df)):
    match = re.search('^(.*?):', df.Description[x])
    if match:
        df.first_name[x] = match.group(1).split(' ')[0]
        df.last_name[x] = match.group(1).split(' ')[1]
    else:
        df.first_name[x] = 'NaN'

print(df[['first_name', 'last_name']])

  first_name last_name
0      James      Butt
1  Josephine   Darakjy
2        Art    Venere
3      Lenna  Paprocki
4    Donette    Foller

C:\Users\harry\AppData\Local\Temp\ipykernel_32108\4030865270.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.first_name[x] = match.group(1).split(' ')[0]
C:\Users\harry\AppData\Local\Temp\ipykernel_32108\4030865270.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.last_name[x] = match.group(1).split(' ')[1]

In [4]:
df.Description[0]

'James Butt: An avid historian, James Butt from Benton, John B Jr in New Orleans, received a mysterious map in a package at 6649 N Blue Gum St. The map, traced back through a contact at 504-621-8927 and an expert at 504-845-1427, led to an underground bunker from WWII in LA. The findings, documented in an email to jbutt@gmail.com and shared on Benton, John B Jr, became a significant historical discovery for Orleans County.'

In [5]:
for x in range(len(df)):
    match = re.search(r'\d+ [\w\s]+(?:St|Blvd)', df.Description[x])
    if match:
        df.address[x] = match.group(0)
    else:
        df.address[x] = 'NaN'

print(df[['address']])

               address
0   6649 N Blue Gum St
1  4 B Blue Ridge Blvd
2                  NaN
3          639 Main St
4         34 Center St

C:\Users\harry\AppData\Local\Temp\ipykernel_32108\4114136.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.address[x] = match.group(0)

In [6]:
for x in range(len(df)):
    match = re.search(r'\s(\S+)\sCounty', df.Description[x])
    if match:
        df.county[x] = match.group(1)
    else:
        df.county[x] = 'NaN'

print(df[['county']])

       county
0     Orleans
1  Livingston
2  Gloucester
3         NaN
4         NaN

C:\Users\harry\AppData\Local\Temp\ipykernel_32108\1621865669.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.county[x] = match.group(1)

In [7]:
for x in range(len(df)):
    match = re.findall(r'\b\d{3}-\d{3}-\d{4}\b', df.Description[x])
    if(len(match)>0):
        for y in range(len(match)-1):
            df.phone1[x] = match[y]
            df.phone2[x] = match[y+1]

print(df[['phone1', 'phone2']])

         phone1        phone2
0  504-621-8927  504-845-1427
1  810-292-9388  810-374-9840
2  856-636-8749  856-264-4130
3  907-385-4412  907-921-2010
4           NaN           NaN

C:\Users\harry\AppData\Local\Temp\ipykernel_32108\2691628072.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.phone1[x] = match[y]
C:\Users\harry\AppData\Local\Temp\ipykernel_32108\2691628072.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.phone2[x] = match[y+1]

In [8]:
print(df)

  first_name last_name  company_name              address  city      county  \
0      James      Butt           NaN   6649 N Blue Gum St   NaN     Orleans
1  Josephine   Darakjy           NaN  4 B Blue Ridge Blvd   NaN  Livingston
2        Art    Venere           NaN                  NaN   NaN  Gloucester
3      Lenna  Paprocki           NaN          639 Main St   NaN         NaN
4    Donette    Foller           NaN         34 Center St   NaN         NaN

   state        phone1        phone2  email  \
0    NaN  504-621-8927  504-845-1427    NaN
1    NaN  810-292-9388  810-374-9840    NaN
2    NaN  856-636-8749  856-264-4130    NaN
3    NaN  907-385-4412  907-921-2010    NaN
4    NaN           NaN           NaN    NaN

                                         Description
0  James Butt: An avid historian, James Butt from...
1  Josephine Darakjy: Amidst the jazz-filled stre...
2  Art Venere: Art Venere, a nature enthusiast at...
3  Lenna Paprocki: While renovating their office ...
4  Donette Foller: In the tech hub of Hamilton, D...