# Assignment 0 - Part A

## A submission by Group J
## Members
Aishwarya Ravichandran <br>
Hardik Bishnoi <br>
B Dhanush Adhithya <br>

# Importing csv

This Python code imports the pandas library, reads a CSV file into a DataFrame, and prints the DataFrame to verify the data is loaded correctly.

In [12]:
import pandas as pd

# Replace 'filename.csv' with your csv file path
df = pd.read_csv('Data\A0-A.csv')

# Print the DataFrame to verify it's loaded correctly
print(df)

   first_name  last_name  company_name  address  city  county  state  phone1  \
0         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN
1         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN
2         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN
3         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN
4         NaN        NaN           NaN      NaN   NaN     NaN    NaN     NaN

   phone2  email                                        Description
0     NaN    NaN  James Butt: An avid historian, James Butt from...
1     NaN    NaN  Josephine Darakjy: Amidst the jazz-filled stre...
2     NaN    NaN  Art Venere: Art Venere, a nature enthusiast at...
3     NaN    NaN  Lenna Paprocki: While renovating their office ...
4     NaN    NaN  Donette Foller: In the tech hub of Hamilton, D...

In [13]:
import re

## Extracting names

Let us first check for names. After sampling the data, we can see that the names follow a common trend : they occur before the colon. We simply write the regex for querying this in the text as '^(.*?):', and then split the text using `.split()` to get the first and last names.

In [14]:
for x in range(len(df)):
    match = re.search('^(.*?):', df.Description[x])
    if match:
        df.first_name[x] = match.group(1).split(' ')[0]
        df.last_name[x] = match.group(1).split(' ')[1]
    else:
        df.first_name[x] = 'NaN'

print(df[['first_name', 'last_name']])

  first_name last_name
0      James      Butt
1  Josephine   Darakjy
2        Art    Venere
3      Lenna  Paprocki
4    Donette    Foller

C:\Users\harry\AppData\Local\Temp\ipykernel_22512\4030865270.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.first_name[x] = match.group(1).split(' ')[0]
C:\Users\harry\AppData\Local\Temp\ipykernel_22512\4030865270.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.last_name[x] = match.group(1).split(' ')[1]

# Extracting Address

We use a Python code that iterates over a DataFrame `df`, uses a regular expression to search for addresses in the `Description` column, assigns found addresses to a new column `address`, and prints the `address` column.

In [15]:
for x in range(len(df)):
    match = re.search(r'\d+ [\w\s]+(?:St|Blvd)', df.Description[x])
    if match:
        df.address[x] = match.group(0)
    else:
        df.address[x] = 'NaN'

print(df[['address']])

               address
0   6649 N Blue Gum St
1  4 B Blue Ridge Blvd
2                  NaN
3          639 Main St
4         34 Center St

C:\Users\harry\AppData\Local\Temp\ipykernel_22512\4114136.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.address[x] = match.group(0)

# Extracting County

In [16]:
for x in range(len(df)):
    match = re.search(r'\s(\S+)\sCounty', df.Description[x])
    if match:
        df.county[x] = match.group(1)
    else:
        df.county[x] = 'NaN'

print(df[['county']])

       county
0     Orleans
1  Livingston
2  Gloucester
3         NaN
4         NaN

C:\Users\harry\AppData\Local\Temp\ipykernel_22512\1621865669.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.county[x] = match.group(1)

# Extracting Phone Numbers

In [17]:
for x in range(len(df)):
    match = re.findall(r'\b\d{3}-\d{3}-\d{4}\b', df.Description[x])
    if(len(match)>0):
        for y in range(len(match)-1):
            df.phone1[x] = match[y]
            df.phone2[x] = match[y+1]

print(df[['phone1', 'phone2']])

         phone1        phone2
0  504-621-8927  504-845-1427
1  810-292-9388  810-374-9840
2  856-636-8749  856-264-4130
3  907-385-4412  907-921-2010
4           NaN           NaN

C:\Users\harry\AppData\Local\Temp\ipykernel_22512\2691628072.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.phone1[x] = match[y]
C:\Users\harry\AppData\Local\Temp\ipykernel_22512\2691628072.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.phone2[x] = match[y+1]

# Extracting Company Names

The function `extract_company_name(text)` is defined to perform the extraction of company names. It uses regular expressions to find matches in the text. The regular expression pattern `r'\b(?:of|from|at)\s+([A-Z][A-Za-z\'-]+(?:\s+[A-Z][A-Za-z\'-]+)+)\b'` is used to match company names that follow the words 'of', 'from', or 'at' and consist of one or more capitalized words. The `re.compile()` function is used to compile the regular expression pattern into a pattern object, which can be used for matching using its `findall()` method.

In [25]:

def extract_company_name(text):
    pattern = re.compile(r'\b(?:of|from|at)\s+([A-Z][A-Za-z\'-]+(?:\s+[A-Z][A-Za-z\'-]+)+)\b')
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]
    else:
        return None
for i in range(len(df)):
  text = df.Description[i]
  company_name = extract_company_name(text)
  df.company_name[i] = company_name
  
print(df[['company_name']])

             company_name
0                    None
1                    None
2                    None
3  Feltz Printing Service
4     Printing Dimensions

# Extracting City Names

We see that we can try to generalize the regex to pick up the cities in the text by picking up text that comes after of or in and before a comma, however we fail to pick up Anchorage in the fourth paragraph, and instead pick up "St" as in street. This shows that regex is not 100% reliable and search patterns of two different things can overlap.

In [18]:
def extract_city(text):
    pattern = re.compile(r'\bin\s+([A-Za-z][A-Za-z\'-]+(?:\s+[A-Z][A-Za-z\'-]+)*)\b')

    match = re.search(pattern, text)

    if match:
        return match.group(0).split('in')[1].strip()
    else:
        return None

for i in range(5):
  text = df.Description[i]
  city = extract_city(text)
  df.city[i] = city
print(df[['city']])

          city
0  New Orleans
1          Liv
2   Bridgeport
3    Anchorage
4         None

C:\Users\harry\AppData\Local\Temp\ipykernel_22512\3677581450.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.city[i] = city

# Finding States

In [19]:
import re

pattern = r'\b[A-Z]{2}\b'

for x in range(len(df)):
    match = re.search(pattern, df.Description[x])
    if match:
        df.state[x] = match.group()
    else:
        df.state[x] = 'NaN'

print(df[['state']])

  state
0    LA
1    MI
2   NaN
3    AK
4   NaN

C:\Users\harry\AppData\Local\Temp\ipykernel_22512\2754679906.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.state[x] = match.group()

In [20]:
import re

pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

for x in range(len(df)):
    match = re.search(pattern, df.Description[x])
    if match:
        df.email[x] = match.group()
    else:
        df.email[x] = 'NaN'

print(df[['email']])

                           email
0                jbutt@gmail.com
1  josephine_darakjy@darakjy.org
2                            NaN
3          lpaprocki@hotmail.com
4                            NaN

C:\Users\harry\AppData\Local\Temp\ipykernel_22512\2514542548.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.email[x] = match.group()

# Final Dataframe

In [21]:
print(df)

  first_name last_name  company_name              address         city  \
0      James      Butt           NaN   6649 N Blue Gum St  New Orleans
1  Josephine   Darakjy           NaN  4 B Blue Ridge Blvd          Liv
2        Art    Venere           NaN                  NaN   Bridgeport
3      Lenna  Paprocki           NaN          639 Main St    Anchorage
4    Donette    Foller           NaN         34 Center St         None

       county state        phone1        phone2  \
0     Orleans    LA  504-621-8927  504-845-1427
1  Livingston    MI  810-292-9388  810-374-9840
2  Gloucester   NaN  856-636-8749  856-264-4130
3         NaN    AK  907-385-4412  907-921-2010
4         NaN   NaN           NaN           NaN

                           email  \
0                jbutt@gmail.com
1  josephine_darakjy@darakjy.org
2                            NaN
3          lpaprocki@hotmail.com
4                            NaN

                                         Description
0  James Butt: An avid historian, James Butt from...
1  Josephine Darakjy: Amidst the jazz-filled stre...
2  Art Venere: Art Venere, a nature enthusiast at...
3  Lenna Paprocki: While renovating their office ...
4  Donette Foller: In the tech hub of Hamilton, D...

In [22]:
df.to_csv('C:/Users/harry/OneDrive/Documents/Northeastern University/CS6120/Assignments/A0/Solutions/NLP_A0_A/Data/solution.csv', index=False)